.iphone 
{
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
#mainTabbedPane
{
    -fx-background-color: black;
	-fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}
.tab-pane .tab-header-area .tab-header-background 
{
    -fx-background-color: linear-gradient(#CCCCCC 0%, #666666 25%, #333300 100%);
}
.tab
{
	 -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}
.tab-label
{
	-fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
.iphone:hover 
{
	 -fx-background-color: 
        #a6b5c9,
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%),
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}
.stackpane
{
	-fx-background-color: white;
  	-fx-border-color: black;
}
.iphone-toolbar 
{
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 10;
}
.warning
{
    -fx-background-color:rgba(0, 0, 0, 0.5);
    -fx-background-color: linear-gradient(#CC0000 0%, #CC0033 25%, #FF0000 100%);
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.label-non
{
	-fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.label-spec
{
	-fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.context-menu 
{
  	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}
.menu-item .label 
{
  -fx-text-fill: white;
}
.menu-item:focused .label 
{
  -fx-text-fill: white;
}

.drag-hover
{
	-fx-background-color:powderblue;
}
.list-cell:filled:hover 
{
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: blue;
}

.combo-box-base  
{
	-fx-background-color: white, white, white, white;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-padding: 0;
}
.combo-box-base:hover
{
	-fx-color: -fx-hover-base;
}
.combo-box-base:showing 
{
	-fx-color: -fx-pressed-base;
}
.combo-box-base:focused 
{
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-radius: 6.4, 4, 5, 3;
	-fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base:disabled 
{
	-fx-opacity: .4;
}