@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
p.image {
padding:0;
margin:0;
text-indent:0;
}
span.BookTitle {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	text-transform : uppercase;
}
span.AuthorName {
	font-weight : normal;
	font-style : normal;
	font-size : 2em;
}
span.Italic {
	font-weight : normal;
	font-style : italic;
}
span.ChapterNumber {
	font-weight : normal;
	font-style : normal;
	font-size : 2em;
	text-decoration : underline;
}
span.ChapterTitle {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	font-variant : small-caps;
}
span.Bold {
	font-weight : bold;
	font-style : normal;
}
span.Dropbear {
	font-weight : normal;
	font-style : normal;
}
span.NewsBroadcast {
	font-variant : small-caps;
}
span.Letter {
	font-weight : bold;
	font-style : italic;
}
span.char-style-override-1 {
	font-size : 3em;
	float : left;
	line-height : 1em;
	padding-top : 0em;
	margin-top : 0em;
	margin-right : 0.1em;
}
p {
padding-top:0;
padding-bottom:0;
margin-top:.1em;
margin-bottom:.1em;
text-indent: 2em;
}
p.BookTitle {
	font-weight : normal;
	font-style : normal;
	font-size : 6em;
	text-decoration : none;
	font-variant : small-caps;
	line-height : 0.83;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.AuthorName {
	font-weight : normal;
	font-style : normal;
	font-size : 2.5em;
	text-decoration : none;
	font-variant : small-caps;
	line-height : 2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 36px 0px 0px 0px;
}
p.ChapterTitle {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	text-decoration : none;
	font-variant : small-caps;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 36px 0px;
}
p.ChapterNumber {
	font-weight : normal;
	font-style : normal;
	font-size : 2.33em;
	text-decoration : underline;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	text-indent : 0px;
	margin : 0px 0px 24px 0px;
}
p.Verse {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:1em;
	margin-bottom:1em;
	text-indent: 4em;
}
p.VerseFirstLine {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:2em;
	margin-bottom:0;
	text-indent: 4em;
}
p.VerseLastLine {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:0;
	margin-bottom:2em;
	text-indent: 4em;
}

p.VerseFirstLine2 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:2em;
	margin-bottom:1em;
	text-indent: 4em;
}
p.VerseLastLine2 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:1em;
	margin-bottom:2em;
	text-indent: 4em;
}
p.Bios {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	text-indent : 0px;
	margin : 0px 0px 20px 0px;
}
p.Dropbear {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 4px 5px;
}
p.NewsBroadcast {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 2;
	text-align : left;
	text-indent : 36px;
	margin-top : 1.75em;
	margin-left: 1em;
	margin-bottom: 2.5em;
	margin-right:1em;
}

p.LetterFirstLine {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:2em;
	margin-bottom:0;
	text-indent: 3em;
}
p.LetterLastLine {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:0;
	margin-bottom:2em;
	text-indent: 6em;
}	
p.Letter {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	margin-top:.5em;
	margin-bottom:.5em;
	text-indent: 3em;
}
p.Copyright {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 20px 0px;
}
p.Copyright2 {
    font-weight : normal;
    font-style : normal;
    font-variant : normal;
    line-height : 1.5;
    text-align : left;
    font-size : 1em;
    margin-top:.1em;
    margin-bottom:.1em;
    text-indent: 0px;
}
p.LineSpace {
	line-height:1;
	}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}

h3.the {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	text-transform : uppercase;
	margin-top:1.5em;
	margin-bottom: 0;
	text-align:center;
	line-height: 1em;
}

h3.chemickal {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	text-transform : uppercase;
	margin-top:0.25em;
	margin-bottom: 0;
	text-align:center;
	line-height: 1em;
}

h3.marriage {
	font-weight : bold;
	font-style : normal;
	font-size : 3em;
	text-transform : uppercase;
	margin-top:0.25em;
	margin-bottom:5em;
	text-align:center;
	line-height: 1em;
}

h4.AuthorName {
	font-weight : normal;
	font-style : normal;
	font-size : 2.5em;
	text-align:center;
}

img {
max-width: 100%;
}

div.beaker {
width:50%;
}
	
div.Basic-Text-Frame {
}
